/* line 2, ../../Proyecto Javascript/scss/styles.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 7, ../../Proyecto Javascript/scss/styles.scss */
* {
  Margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 13, ../../Proyecto Javascript/scss/styles.scss */
body {
  min-height: 100%;
}

/* line 18, ../../Proyecto Javascript/scss/styles.scss */
h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

/* line 27, ../../Proyecto Javascript/scss/styles.scss */
#contenedor {
  display: grid;
  gap: 10px;
  grid-template-areas: "navegador" "encabezado" "principal" "pie";
  grid-template-columns: 100%;
  grid-template-rows: 10rem auto auto 8rem;
}

/* line 42, ../../Proyecto Javascript/scss/styles.scss */
.navegador {
  grid-area: navegador;
}

/* line 45, ../../Proyecto Javascript/scss/styles.scss */
.navegador .navbar {
  height: 10rem;
}

/* line 48, ../../Proyecto Javascript/scss/styles.scss */
.navegador .navbar a {
  font-size: large;
}

/* line 54, ../../Proyecto Javascript/scss/styles.scss */
.logo {
  width: 10rem;
}

/* line 58, ../../Proyecto Javascript/scss/styles.scss */
header {
  grid-area: encabezado;
  background-color: rgba(145, 145, 145, 0.91);
  display: flex;
  justify-content: center;
}

/* line 65, ../../Proyecto Javascript/scss/styles.scss */
.principal {
  grid-area: principal;
  background-color: rgba(145, 145, 145, 0.91);
}

/* line 70, ../../Proyecto Javascript/scss/styles.scss */
.pie {
  grid-area: pie;
  background-color: rgba(145, 145, 145, 0.91);
}

/* line 81, ../../Proyecto Javascript/scss/styles.scss */
.carousel {
  width: 90rem;
  padding: 3rem;
}

/* line 85, ../../Proyecto Javascript/scss/styles.scss */
.carousel img {
  width: 100%;
}

/* line 94, ../../Proyecto Javascript/scss/styles.scss */
.schedule1, .schedule2, .schedule3, .schedule4, .schedule5, .schedule6 {
  display: flex;
  margin: 4rem;
}

/* line 97, ../../Proyecto Javascript/scss/styles.scss */
.schedule1 img, .schedule2 img, .schedule3 img, .schedule4 img, .schedule5 img, .schedule6 img {
  width: 32rem;
  padding: 1rem;
  margin-bottom: 8rem;
}

/* line 104, ../../Proyecto Javascript/scss/styles.scss */
.flexCircFecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 3rem;
}

/* line 113, ../../Proyecto Javascript/scss/styles.scss */
.pilotos1, .pilotos2, .pilotos3, .pilotos4, .pilotos5 {
  display: flex;
  justify-content: center;
}

/* line 116, ../../Proyecto Javascript/scss/styles.scss */
.pilotos1 img, .pilotos2 img, .pilotos3 img, .pilotos4 img, .pilotos5 img {
  width: 100%;
  padding: 0.7rem;
}

/* line 121, ../../Proyecto Javascript/scss/styles.scss */
.pilotos5 {
  display: flex;
}

/* line 122, ../../Proyecto Javascript/scss/styles.scss */
.pilotos5 div {
  width: 26rem;
}

/* line 126, ../../Proyecto Javascript/scss/styles.scss */
.pilotos5 img {
  width: 100%;
  padding: 0.7rem;
}

/* line 132, ../../Proyecto Javascript/scss/styles.scss */
.flexPosicionPuntos {
  display: flex;
  margin: 5rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

/* line 137, ../../Proyecto Javascript/scss/styles.scss */
.flexPosicionPuntos h4 {
  font-size: 3.5rem;
  font-family: 'Alumni Sans Inline One', cursive;
  padding: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */