@charset "UTF-8";
/* line 2, ../../Proyecto Javascript/scss/styles.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 7, ../../Proyecto Javascript/scss/styles.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 13, ../../Proyecto Javascript/scss/styles.scss */
body {
  min-height: 100%;
}

/* line 18, ../../Proyecto Javascript/scss/styles.scss */
h2 {
  font-size: 6rem;
  text-align: center;
  font-family: 'Secular One', sans-serif;
  color: aliceblue;
}

/* line 24, ../../Proyecto Javascript/scss/styles.scss */
h3 {
  font-size: 4rem;
  text-align: center;
  font-family: 'Secular One', sans-serif;
  color: aliceblue;
}

/* line 32, ../../Proyecto Javascript/scss/styles.scss */
#contenedor {
  display: grid;
  grid-template-areas: "navegador" "encabezado" "principal" "pie";
  grid-template-columns: 100%;
  grid-template-rows: 10rem auto auto 8rem;
}

/* line 46, ../../Proyecto Javascript/scss/styles.scss */
.navegador {
  grid-area: navegador;
}

/* line 49, ../../Proyecto Javascript/scss/styles.scss */
.logo {
  width: 8rem;
}

/* line 53, ../../Proyecto Javascript/scss/styles.scss */
.nav {
  width: 100%;
  height: 10rem;
  position: fixed;
  z-index: 2;
}

/* line 59, ../../Proyecto Javascript/scss/styles.scss */
.nav a {
  margin: 0.5rem;
  font-size: 1.8rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 4rem;
  display: flex;
  align-items: center;
}

/* line 71, ../../Proyecto Javascript/scss/styles.scss */
.logoF1 img {
  width: 7.5rem;
}

/* line 77, ../../Proyecto Javascript/scss/styles.scss */
.pref {
  font-size: 1.5rem;
}

/* line 82, ../../Proyecto Javascript/scss/styles.scss */
header {
  grid-area: encabezado;
  background-color: rgba(66, 64, 64, 0.91);
}

/* line 87, ../../Proyecto Javascript/scss/styles.scss */
.principal {
  grid-area: principal;
  background-color: rgba(66, 64, 64, 0.91);
}

/* line 92, ../../Proyecto Javascript/scss/styles.scss */
.pie {
  grid-area: pie;
  background-color: rgba(66, 64, 64, 0.91);
}

/* line 98, ../../Proyecto Javascript/scss/styles.scss */
.diseñoTit {
  display: flex;
}

/* line 101, ../../Proyecto Javascript/scss/styles.scss */
.formaTit, .formaTit1, .formaTit2, .formaTit3 {
  width: 35rem;
  background-color: #2a2929;
  height: 4rem;
  margin-top: 1.3rem;
  margin-right: 4rem;
}

/* line 116, ../../Proyecto Javascript/scss/styles.scss */
.contCarousell {
  display: flex;
  justify-content: center;
}

/* line 120, ../../Proyecto Javascript/scss/styles.scss */
.carousel {
  width: 80%;
  padding-top: 2rem;
}

/* line 132, ../../Proyecto Javascript/scss/styles.scss */
.tableEvents {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

/* line 138, ../../Proyecto Javascript/scss/styles.scss */
.tableEvents table {
  width: 120rem;
}

/* line 143, ../../Proyecto Javascript/scss/styles.scss */
.tableEvents td {
  font-family: 'Secular One', sans-serif;
  width: 15rem;
}

/* line 150, ../../Proyecto Javascript/scss/styles.scss */
.cuerpoTabla {
  text-align: center;
}

/* line 153, ../../Proyecto Javascript/scss/styles.scss */
.cuerpoTabla .banderaPais {
  width: 4rem;
}

/* line 158, ../../Proyecto Javascript/scss/styles.scss */
.cuerpoTabla .imagenTabla img {
  width: 12rem;
  background-color: gray;
}

@media screen and (max-width: 600px) {
  /* line 168, ../../Proyecto Javascript/scss/styles.scss */
  thead {
    display: none;
  }
  /* line 171, ../../Proyecto Javascript/scss/styles.scss */
  tbody td {
    display: block;
    text-align: center;
  }
  /* line 176, ../../Proyecto Javascript/scss/styles.scss */
  tbody td:before {
    content: attr(data-th);
    display: block;
    text-align: center;
  }
}

/* line 185, ../../Proyecto Javascript/scss/styles.scss */
#eventos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 190, ../../Proyecto Javascript/scss/styles.scss */
#eventos .col-8 {
  width: 35rem;
}

/* line 193, ../../Proyecto Javascript/scss/styles.scss */
#eventos .col-8 .flexSchedule {
  width: 30rem;
  height: 37rem;
  border: solid gray;
  margin: 1rem;
}

/* line 199, ../../Proyecto Javascript/scss/styles.scss */
#eventos .col-8 .flexSchedule div {
  margin-top: 2.5rem;
}

/* line 204, ../../Proyecto Javascript/scss/styles.scss */
#eventos .col-8 .flexSchedule ul {
  text-align: center;
  margin-right: 1.5rem;
}

/* line 209, ../../Proyecto Javascript/scss/styles.scss */
#eventos .col-8 .flexSchedule img {
  width: 100%;
}

/* line 221, ../../Proyecto Javascript/scss/styles.scss */
.pilotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 226, ../../Proyecto Javascript/scss/styles.scss */
.pilotos .contenedor {
  width: 30rem;
  margin: 6rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

/* line 234, ../../Proyecto Javascript/scss/styles.scss */
.pilotos .contenedor ul {
  width: 15rem;
  list-style: none;
  background-color: #2a2929;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* line 243, ../../Proyecto Javascript/scss/styles.scss */
.pilotos .contenedor ul li {
  margin: 1.5rem;
  color: aliceblue;
}

/* line 247, ../../Proyecto Javascript/scss/styles.scss */
.pilotos .contenedor ul li .posicion {
  font-size: xx-large;
}

/* line 251, ../../Proyecto Javascript/scss/styles.scss */
.pilotos .contenedor ul li h4 {
  font-size: large;
}

/* line 265, ../../Proyecto Javascript/scss/styles.scss */
.imgEquipos {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

/* line 271, ../../Proyecto Javascript/scss/styles.scss */
.imgEquipos :hover {
  transform: scale(1.4);
}

/* line 275, ../../Proyecto Javascript/scss/styles.scss */
.imgEquipos img {
  width: 50%;
  border: 0.8rem solid gray;
  border-style: outset;
  padding: 4rem;
}

/* line 284, ../../Proyecto Javascript/scss/styles.scss */
.flexPilotos {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

/* line 290, ../../Proyecto Javascript/scss/styles.scss */
.flexPilotos div {
  margin: 3rem;
}

/* line 294, ../../Proyecto Javascript/scss/styles.scss */
.flexPilotos h4 {
  font-size: 3.5rem;
  font-family: 'Alumni Sans Inline One', cursive;
  padding: 0.5rem;
}

/* line 301, ../../Proyecto Javascript/scss/styles.scss */
.posicionPuntosEquipo {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

/* line 306, ../../Proyecto Javascript/scss/styles.scss */
.posicionPuntosEquipo h4 {
  font-size: 3.5rem;
  font-family: 'Alumni Sans Inline One', cursive;
  padding: 0.5rem;
  margin: 2rem;
}

/* line 316, ../../Proyecto Javascript/scss/styles.scss */
.divBoton {
  display: flex;
  justify-content: center;
}

/* line 320, ../../Proyecto Javascript/scss/styles.scss */
.divBoton button {
  width: 12rem;
  height: 6rem;
  font-size: large;
}

/*# sourceMappingURL=styles.css.map */