/* line 2, ../../Proyecto Javascript/scss/styles.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 7, ../../Proyecto Javascript/scss/styles.scss */
* {
  Margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 13, ../../Proyecto Javascript/scss/styles.scss */
body {
  min-height: 100%;
}

/* line 18, ../../Proyecto Javascript/scss/styles.scss */
h2 {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 6rem;
  margin-top: 10rem;
  font-family: 'Rubik Dirt', cursive;
}

/* line 26, ../../Proyecto Javascript/scss/styles.scss */
h3 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 10rem;
  font-family: 'Rubik Dirt', cursive;
}

/* line 36, ../../Proyecto Javascript/scss/styles.scss */
#contenedor {
  display: grid;
  gap: 10px;
  grid-template-areas: "navegador" "encabezado" "principal" "pie";
  grid-template-columns: 100%;
  grid-template-rows: 10rem auto auto 8rem;
}

/* line 51, ../../Proyecto Javascript/scss/styles.scss */
.navegador {
  grid-area: navegador;
}

/* line 54, ../../Proyecto Javascript/scss/styles.scss */
.navegador .navbar {
  width: 100%;
  height: 10rem;
  position: fixed;
  z-index: 0;
}

/* line 60, ../../Proyecto Javascript/scss/styles.scss */
.navegador .navbar li {
  margin: 1rem;
}

/* line 64, ../../Proyecto Javascript/scss/styles.scss */
.navegador .navbar a {
  font-size: 1.8rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* line 71, ../../Proyecto Javascript/scss/styles.scss */
.logo1, .logo2, .logo3 {
  width: 3rem;
  margin: 1rem;
}

/* line 77, ../../Proyecto Javascript/scss/styles.scss */
.logoPrinc {
  width: 10rem;
  margin: 2rem;
}

/* line 82, ../../Proyecto Javascript/scss/styles.scss */
header {
  grid-area: encabezado;
  background-color: rgba(145, 145, 145, 0.91);
  display: flex;
  justify-content: center;
}

/* line 89, ../../Proyecto Javascript/scss/styles.scss */
.principal {
  grid-area: principal;
  background-color: rgba(145, 145, 145, 0.91);
}

/* line 94, ../../Proyecto Javascript/scss/styles.scss */
.pie {
  grid-area: pie;
  background-color: rgba(145, 145, 145, 0.91);
}

/* line 105, ../../Proyecto Javascript/scss/styles.scss */
.carousel {
  width: 90rem;
  padding: 3rem;
}

/* line 110, ../../Proyecto Javascript/scss/styles.scss */
.carousel img {
  width: 100%;
}

/* line 119, ../../Proyecto Javascript/scss/styles.scss */
.schedule1,
.schedule2,
.schedule3,
.schedule4,
.schedule5,
.schedule6 {
  display: flex;
  margin: 4rem;
}

/* line 128, ../../Proyecto Javascript/scss/styles.scss */
.schedule1 img,
.schedule2 img,
.schedule3 img,
.schedule4 img,
.schedule5 img,
.schedule6 img {
  width: 32rem;
  padding: 1rem;
  margin-bottom: 8rem;
}

/* line 136, ../../Proyecto Javascript/scss/styles.scss */
.flexCircFecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 3rem;
}

/* line 145, ../../Proyecto Javascript/scss/styles.scss */
.pilotos1,
.pilotos2,
.pilotos3,
.pilotos4,
.pilotos5 {
  display: flex;
  justify-content: center;
}

/* line 153, ../../Proyecto Javascript/scss/styles.scss */
.pilotos1 img,
.pilotos2 img,
.pilotos3 img,
.pilotos4 img,
.pilotos5 img {
  width: 100%;
  padding: 0.7rem;
}

/* line 159, ../../Proyecto Javascript/scss/styles.scss */
.pilotos5 {
  display: flex;
}

/* line 160, ../../Proyecto Javascript/scss/styles.scss */
.pilotos5 div {
  width: 26rem;
}

/* line 166, ../../Proyecto Javascript/scss/styles.scss */
.pilotos5 img {
  width: 100%;
  padding: 0.7rem;
}

/* line 172, ../../Proyecto Javascript/scss/styles.scss */
.flexPosicionPuntos {
  display: flex;
  margin: 5rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

/* line 178, ../../Proyecto Javascript/scss/styles.scss */
.flexPosicionPuntos h4 {
  font-size: 3.5rem;
  font-family: 'Alumni Sans Inline One', cursive;
  padding: 0.5rem;
}

/* line 188, ../../Proyecto Javascript/scss/styles.scss */
.imgEquipos {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

/* line 194, ../../Proyecto Javascript/scss/styles.scss */
.imgEquipos :hover {
  transform: scale(1.4);
}

/* line 198, ../../Proyecto Javascript/scss/styles.scss */
.imgEquipos img {
  width: 50%;
  border: 0.8rem solid gray;
  border-style: outset;
  padding: 4rem;
}

/* line 207, ../../Proyecto Javascript/scss/styles.scss */
.flexPilotos {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

/* line 213, ../../Proyecto Javascript/scss/styles.scss */
.flexPilotos div {
  margin: 3rem;
}

/* line 217, ../../Proyecto Javascript/scss/styles.scss */
.flexPilotos h4 {
  font-size: 3.5rem;
  font-family: 'Alumni Sans Inline One', cursive;
  padding: 0.5rem;
}

/* line 224, ../../Proyecto Javascript/scss/styles.scss */
.posicionPuntosEquipo {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

/* line 229, ../../Proyecto Javascript/scss/styles.scss */
.posicionPuntosEquipo h4 {
  font-size: 3.5rem;
  font-family: 'Alumni Sans Inline One', cursive;
  padding: 0.5rem;
  margin: 2rem;
}

/* line 239, ../../Proyecto Javascript/scss/styles.scss */
.divBoton {
  display: flex;
  justify-content: center;
}

/* line 244, ../../Proyecto Javascript/scss/styles.scss */
.verEquipos {
  width: 10rem;
  height: 5rem;
  margin: 5rem;
  font-size: 1.5rem;
  background-color: rgba(145, 145, 145, 0.91);
}

/*# sourceMappingURL=styles.css.map */