//Reset 
html {
    font-size: 62.5%;
    height: 100%;
}

* {
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100%;
}


h2{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

// Estructura

#contenedor {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "navegador"
        "encabezado"
        "principal"
        "pie"
    ;

grid-template-columns: 100%;
grid-template-rows: 10rem auto auto 8rem;
}

// Nav
.navegador{
    grid-area: navegador;

    .navbar{
        height: 10rem;
        
        a{
            font-size: large;
        }
    }
}

.logo{
    width: 10rem;
}

header{
    grid-area: encabezado;
    background-color: rgba(145, 145, 145, 0.91);
    display: flex;
    justify-content: center;
}

.principal{
grid-area: principal;
background-color: rgba(145, 145, 145, 0.91);
}

.pie{
    grid-area: pie;
    background-color: rgba(145, 145, 145, 0.91);
}




// Secciones

// Carousel
.carousel {
    width: 90rem;
    padding: 3rem;

    img{
        width: 100%;
    }

}


// Eventos

.tandaEventos{
margin-top: 2rem;
display: flex;

    img{
        width: 100%;
    }

}

.evento{
    width: 100%;
}

.cardEvento{
    width: 100%;
    margin: 2rem;
}



// Pilotos

.podio{
    display: flex;
    img{
        width: 45rem;
        padding: 0.5rem;
    }
}

.siguientes{
    display: flex;
    img{
        width: 27rem;
        padding: 0.5rem;
    }
}

.posicionYPuntaje{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.piloto{
    display: flex;
    justify-content: space-between;
}

.flexPiloto{
    display: flex;
    justify-content: center;
}


// Equipos
