//Reset 
html {
    font-size: 62.5%;
    height: 100%;
}

* {
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100%;
}

// Estructura

#contenedor {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "navegador"
        "encabezado"
        "principal"
        "pie"
    ;

grid-template-columns: 100%;
grid-template-rows: 10rem auto auto 8rem;
}

.navegador{
    grid-area: navegador;

    .navbar{
        height: 10rem;
        
        a{
            font-size: large;
        }
    }

}

header{
    grid-area: encabezado;
    background-color: rgba(145, 145, 145, 0.91);
}

.principal{
grid-area: principal;
background-color: rgba(145, 145, 145, 0.91);
}

.pie{
    grid-area: pie;
    background-color: rgba(145, 145, 145, 0.91);
}

// Secciones

.logo{
    width: 10rem;
}

.container{
    height: 30rem;
}
